# ==========================
# Variables privadas
# ==========================
.env

# ==========================
# Entornos virtuales
# ==========================
venv/
.venv/

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Fotos de personas
# ==========================
personas/

# ==========================
# Capturas
# ==========================
snapshots/

# ==========================
# Logs generados
# ==========================
logs/*.txt
logs/*.log

# ==========================
# Bases de datos SQLite
# ==========================
*.db

# ==========================
# Archivos temporales
# ==========================
*.tmp

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Archivos de sistema macOS
# ==========================
.DS_Store

# ==========================
# Archivos de pruebas
# ==========================
__pycache__/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Distribución
# ==========================
build/
dist/
*.spec

# ==========================
# Archivos de caché
# ==========================
.cache/